<ion-list>
  <ion-list>
    <ion-item>
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-input label="Texto: " placeholder="Ingrese texto"></ion-input>
      
    </ion-item>

    <ion-item>
      <ion-input label="Numero:" type="numero" placeholder="007"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="keypad-outline"></ion-icon>
      <ion-input label="Contrasena:" type="password" value="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input label="Email :" type="email" placeholder="ejemplodeexamen@.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline"></ion-icon>
      <ion-input label="Telefono :" type="tel" placeholder="+593 094 234 234 241"></ion-input>
    </ion-item>
  </ion-list>
</ion-list>